# Python
*.pyc
__pycache__/

# Virtual environment
venv/
env/
.venv/

# Django
db.sqlite3
/media/
/staticfiles/
/*.log

# IDE/Editor
.vscode/
.idea/

# OS
.DS_Store

# Environment & secrets
.env
*.secret
